.promo {
	padding: 30px 0;
	&__content {
		position: relative;
	}
	// .promo__image
	&__image {
		height: 940px;
		margin: 0 -20px;
	}
	// .promo__body
	&__body {
		position: absolute;
		color: #fff;
		padding: 49px 40px 60px;
		bottom: 0;
		left: 20px;
		right: 20px;
		z-index: 2;
		border-top: 1px solid rgba($color: #fff, $alpha: 0.4);
	}
	// .promo__title
	&__title {
	}
	// .promo__desc
	&__desc {
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
		max-width: 326px;
	}
}

.desc {
	padding: 196px 0 25px;
	// .desc__title
	&__title {
	}
	// .desc__text
	&__text {
		font-size: 40px;
		font-weight: 600;
		line-height: 120%;
		& p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&__btn {
		margin-top: 300px;
	}
}

.gallery {
	padding: 25px 0 100px;
	// .gallery__slider
	&__slider {
		margin: 0 -20px;
		.slick-list {
			overflow: visible;
		}
		.slick-track {
			display: flex;
		}
	}
	// .gallery__slide
	&__slide {
		position: relative;
		display: block;
		&:not(:last-child) {
			margin-right: 30px;
		}
		& > img {
			height: 940px;
		}
	}
	// .gallery__slide-info
	&__slide-info {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
		padding-bottom: 20px;
		color: $text;
	}
	// .gallery__slide-label
	&__slide-label {
		font-size: 16px;
		background: #fff;
		padding: 20px 30px 20px 20px;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		gap: 30px;
		flex-shrink: 0;
		& img {
			max-width: 22px;
		}
	}
	// .gallery__slide-text
	&__slide-text {
	}
}

.projects {
	padding: 100px 0 200px;
	// .projects__header
	&__header {
	}
	// .projects__title
	&__title {
	}
	// .projects__years
	&__years {
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
	}
	// .projects__slider
	&__slider {
		margin: 80px -30px 0;
		& > .slick-list {
			overflow: visible;
			& > .slick-track {
				display: flex;
				gap: 30px;
			}
		}
	}
	// .projects__item
	&__item {
		width: 800px;
	}
	// .projects__item-images
	&__item-images {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.projects__item-more {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .projects__item-slider
	&__item-slider {
		position: relative;
		& .slick-track {
			display: flex;
		}
		.slick-dots {
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 580px;
			width: 100%;
			padding: 30px;
			display: flex;
			gap: 6px;
			font-size: 0;
			z-index: 3;
			& li {
				flex: 1 1 auto;
				height: 4px;
				border-radius: 10px;
				background: #fff;
				position: relative;
				cursor: pointer;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					height: rem(24);
					width: 100%;
				}
				&.slick-active {
					background: $accent;
				}
			}
		}
	}

	// .projects__item-slide
	&__item-slide {
		position: relative;
		height: 800px;
		aspect-ratio: 1;
		float: none;
		overflow: hidden;
	}
	// .projects__item-all
	&__item-all {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 10px;
		color: #fff;
		background: linear-gradient(0deg, rgba(36, 36, 36, 0.6) 0%, rgba(36, 36, 36, 0.6) 100%);
	}
	&__item-all-content {
		position: relative;
		z-index: 3;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
		font-size: 20px;
		font-weight: 300;
		line-height: 100%;
		&::before {
			font-size: 48px;
		}
	}
	// .projects__item-more
	&__item-more {
		position: absolute;
		bottom: 20px;
		right: 20px;
		@media (hover: hover) {
			opacity: 0;
			visibility: hidden;
		}
	}
	// .projects__item-body
	&__item-body {
		margin-top: 50px;
		display: flex;
		gap: 44px;
	}
	// .projects__item-main
	&__item-main {
		flex: 1 1 auto;
		border-right: 1px solid #dbdbdb;
	}
	// .projects__item-name
	&__item-name {
		font-size: 40px;
		font-weight: 600;
		line-height: 120%;
		transition: color 0.3s ease 0s;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
		row-gap: 10px;
		padding-right: 30px;
	}
	// .projects__item-articul
	&__item-articul {
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
	}
	// .projects__item-props
	&__item-props {
		margin-top: 30px;
		padding-top: 30px;
		padding-right: 30px;
		border-top: 1px solid #dbdbdb;
		display: flex;
		justify-content: space-between;
	}
	// .projects__item-size
	&__item-size {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		gap: 14px;
	}
	// .projects__item-square
	&__item-square {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		gap: 14px;
	}
	// .projects__item-actions
	&__item-actions {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	// .projects__item-action
	&__item-action {
		font-size: 26px;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.geo {
	padding: 140px 0;
	color: #fff;
	background: url("@img/russia.svg") center 0 / cover no-repeat, #242424;
	// .geo__header
	&__header {
	}
	// .geo__map
	&__map {
		margin-top: 120px;
	}
	// .geo__main
	&__main {
		padding-bottom: 50px;
		border-bottom: 1px solid #999;
	}
	// .geo__tagline
	&__tagline {
	}
	// .geo__title
	&__title {
	}

	// .geo__btn
	&__btn {
	}
	// .geo__projects
	&__projects {
	}
	// .geo__projects-title
	&__projects-title {
	}
}

.choose {
	padding: 100px 0 100px;
	// .choose__header
	&__header {
	}
	// .choose__title
	&__title {
	}
	// .choose__info
	&__info {
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
	}
	// .choose__list
	&__list {
		margin-top: 100px;
	}
	// .choose__item
	&__item {
		padding-bottom: 60px;
		border-bottom: 1px solid #dbdbdb;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	// .choose__item-caption
	&__item-caption {
	}
	// .choose__item-options
	&__item-options {
		gap: 20px;
	}
	// .choose__item-option
	&__item-option {
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		padding: 29.5px 40px;
		border-radius: 50px;
		border: 1px solid $text;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: $text;
				color: #fff;
			}
		}
	}
	// .choose__bottom
	&__bottom {
		margin-top: 60px;
	}
	// .choose__btn
	&__btn {
	}
}

.individual {
	padding: 100px 0;
	// .individual__content
	&__content {
		background: url("@img/calculate.jpg") 0 0 / cover no-repeat, $text;
		color: #fff;
		padding: 60px;
	}
	// .individual__header
	&__header {
	}
	// .individual__title
	&__title {
	}
	// .individual__subtitle
	&__subtitle {
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
		max-width: 483px;
	}
	// .individual__body
	&__body {
		margin-top: 60px;
	}
	// .individual__blocks
	&__blocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
	}
	// .individual__list
	&__list {
		padding: 50px 40px;
		&:nth-child(1) {
			border-top: rem(1) solid #fff;
			border-right: rem(1) solid #fff;
		}
		&:nth-child(2) {
			border-top: rem(1) solid #fff;
			border-left: rem(1) solid #fff;
		}
		& li {
			font-size: 20px;
			font-weight: 300;
			line-height: 100%;
			display: flex;
			align-items: center;
			gap: 20px;
			&:not(:last-child) {
				margin-bottom: 51px;
			}
			&::before {
				@extend %ic, .icon-marker;
				color: $accent;
				align-self: flex-start;
				font-size: 16px;
				transform: rotate(-90deg);
			}
		}
	}
	// .individual__side
	&__side {
		border-top: 1px solid rgba($color: #fff, $alpha: 0.4);
	}
	// .individual__btn
	&__btn {
		&.btn.btn-secondary {
			&:hover {
				border-color: $yellow;
			}
		}
	}
}

.blog {
	padding: 100px 0;
	&:last-child {
		padding-bottom: 200px;
	}
	// .blog__main
	&__main {
	}
	// .blog__title
	&__title {
	}
	// .blog__btn
	&__btn {
	}
	// .blog__list
	&__list {
	}
	// .blog__item
	&__item {
	}
	// .blog__item-image
	&__item-image {
		position: relative;
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.025);
				}
			}
		}
	}
	// .blog__item-desc
	&__item-desc {
		position: relative;
		z-index: 2;
		margin-top: -160px;
		background: #fff;
		padding: 30px;
		margin-left: 20px;
		margin-right: 20px;
		flex: 1 1 auto;
	}
	// .blog__item-time
	&__item-time {
		color: #999;
		padding-bottom: 30px;
		border-bottom: 1px solid #dbdbdb;
		width: 100%;
		display: block;
	}
	// .blog__item-body
	&__item-body {
		position: relative;
		margin-top: 30px;
		padding-right: 80px;
		flex: 1 1 auto;
	}
	// .blog__item-text
	&__item-text {
		font-size: 20px;
		font-weight: 300;
		line-height: 100%;
	}
	// .blog__item-more
	&__item-more {
		position: absolute;
		bottom: 0;
		right: -20px;
	}
	// .blog__media
	&__media {
		position: relative;
		overflow: hidden;
		min-height: 600px;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				.play-btn {
					background: darken($color: $accent, $amount: 10);
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
		}
	}
	// .blog__media-image
	&__media-image {
	}
	// .blog__media-content
	&__media-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 30px;
	}
	// .blog__media-btn
	&__media-btn {
	}
	// .blog__media-info
	&__media-info {
		margin-top: 68px;
	}
	// .blog__media-date
	&__media-date {
		padding-bottom: 30px;
		border-bottom: 1px solid #dbdbdb;
	}
	// .blog__media-title
	&__media-title {
		margin-top: 40px;
	}
}
