.project-card {
	padding: $header 0 0;
	// .project-card__back
	&__back {
	}
	// .project-card__title
	&__title {
		margin-top: 88px;
		@media (max-width: $md4) {
			margin-top: 48px;
			font-size: 50px;
		}
	}
	// .project-card__header
	&__header {
		@media (min-width: $md0) {
			padding: 0 40px;
		}
		max-width: 1375px;
	}
	// .project-card__list
	&__list {
		margin-top: 40px;
		@media (min-width: $md2) {
			margin-top: 70px;
		}
		border-top: 1px solid #dbdbdb;
		padding-top: 40px;
		gap: 20px;
	}
	// .project-card__list-item
	&__list-item {
		gap: 40px;
	}
	// .project-card__icon
	&__icon {
		width: 35px;
		@media (min-width: $md3) {
			width: 70px;
		}
		flex-shrink: 0;
	}
	// .project-card__body
	&__body {
	}
	// .project-card__caption
	&__caption {
		font-size: 20px;
		font-weight: 300;
		line-height: 100%;
	}
	// .project-card__value
	&__value {
		margin-top: 10px;
	}
	// .project-card__main
	&__main {
		margin-top: 80px;
		margin-left: -20px;
		margin-right: -20px;
		position: relative;
		overflow: hidden;
		& img {
			min-height: 360px;
			@media (min-width: $md4) {
				min-height: 640px;
			}
			transform-origin: top center;
			transform: scale(1.12);
		}
	}
	// .project-card__actions
	&__actions {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	// .project-card__action
	&__action {
		display: flex;
		width: 40px;
		gap: 40px;
		padding: 10px 0;
		font-size: 15px;
		@media (min-width: $md4) {
			width: 80px;
			height: 80px;
			padding: 0px 30px;
			font-size: 30px;
		}
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		border: 1px solid #dbdbdb;
		background: #fff;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $accent;
				border-color: $accent;
				color: #fff;
			}
		}
	}
}

.project-desc {
	padding: 90px 0;
	@media (min-width: $md2) {
		padding: 180px 0;
	}
	// .project-desc__title
	&__title {
		max-width: 1500px;
		margin: 0 auto;
	}
	// .project-desc__body
	&__body {
		margin-top: 100px;
		@media (min-width: $md2) {
			margin-top: 200px;
		}
		.props__list {
			@media (min-width: $md0) {
				margin-right: 80px;
			}
			position: sticky;
			top: calc($header + 16px);

			.props__item-name {
				flex: 0 0 55%;
			}
			.props__item-value {
				flex: 0 0 45%;
			}
		}
	}
	// .project-desc__images
	&__images {
	}
	// .project-desc__image
	&__image {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .project-desc__info
	&__info {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
	}
	// .project-desc__label
	&__label {
		border-radius: 10px;
		background: #fff;
		color: $text;
		gap: 30px;
		padding: 14.5px 20px;
	}
}

.props {
	padding: 100px 0;
	@media (min-width: $md3) {
		padding: 200px 0;
	}
	// .props__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 90px;
			@media (min-width: $md3) {
				margin-bottom: 183px;
			}
		}
	}
	// .props__title
	&__title {
	}
	// .props__list
	&__list {
	}
	// .props__item
	&__item {
		&:not(:last-child) {
			padding-bottom: 20px;
			margin-bottom: 20px;
			@media (min-width: $md4) {
				padding-bottom: 40px;
				margin-bottom: 40px;
			}
			border-bottom: 1px solid #dbdbdb;
		}
	}
	// .props__item-name
	&__item-name {
		font-weight: 300;
		line-height: 100%;
		font-size: 20px;
		gap: 16px;
		@media (min-width: $md4) {
			gap: 0;
			flex: 0 0 50%;
		}
		@media (min-width: $md3) {
			font-size: 26px;
		}
		@media (min-width: $md2) {
			font-size: 30px;
			padding-right: 20px;
		}
	}
	// .props__item-value
	&__item-value {
		@media (min-width: $md4) {
			flex: 0 0 50%;
		}
	}
	// .props__item-link
	&__item-link {
		color: $accent;
		display: flex;
		align-items: center;
		gap: 30px;
		& span {
			text-decoration: underline;
		}
		@media (any-hover: hover) {
			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}
}

.banner {
	// .configurator__body
	&__body {
		background-color: $text;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 0;
		padding: 140px 20px;
		@media (min-width: $md4) {
			padding: 140px 60px;
		}
		margin: 0 -20px;
	}
	// .configurator__title
	&__title {
	}
	// .configurator__btn
	&__btn {
		@media (min-width: $md0) {
			margin-right: 180px;
		}
	}
}

.extras {
	padding: 100px 0 90px;
	@media (min-width: $md3) {
		padding: 200px 0 180px;
	}
	// .extras__title
	&__title {
	}
	// .extras__list
	&__list {
		display: grid;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .extras__item
	&__item {
		@media (max-width: $md4) {
			padding: 30px 0;
			&:not(:last-child) {
				border-bottom: 1px solid #dbdbdb;
			}
		}
		@media (min-width: $md4) {
			&:not(:last-child, :nth-last-child(2)) {
				border-bottom: 1px solid #dbdbdb;
			}
		}
		&:nth-child(odd) {
			@media (min-width: $md4) {
				border-right: 1px solid #dbdbdb;
				&:first-child {
					padding-top: 0;
				}
				padding: 60px 70px 70px 0px;
			}
			@media (min-width: $md2) {
				padding: 60px 140px 70px 0px;
			}
		}
		&:nth-child(even) {
			@media (min-width: $md4) {
				&:nth-child(2) {
					padding-top: 0;
				}
				padding: 60px 80px 70px 60px;
			}
		}
	}
	// .extras__item-icon
	&__item-icon {
		margin-bottom: auto;
	}
	// .extras__item-caption
	&__item-caption {
		margin: 60px 0 0 0;
		@media (min-width: $md4) {
			margin: 100px 0 0 0;
		}
	}
	// .extras__item-desc
	&__item-desc {
		margin-top: 20px;
	}
}

.examples {
	position: relative;

	// .examples__images
	&__images {
		position: relative;
		z-index: 1;
	}
	// .examples__image
	&__image {
		display: none;

		&.active {
			display: block;
		}
		&.fade {
			animation: fadeIn 1s forwards;
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}
		& img {
			min-height: 480px;
		}
	}
	// .examples__conrols
	&__controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;

		z-index: 2;
	}
	// .examples__btns
	&__btns {
		padding: 20px 0;
		gap: 16px;
		@media (min-width: $md4) {
			padding: 20px;
			gap: 20px;
		}
	}
	// .examples__btn
	&__btn {
		color: $text;
		background: #fff;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		padding: 16px;
		font-size: 12px;
		gap: 26px;
		@media (min-width: $md4) {
			gap: 52px;
			font-size: 16px;
			padding: 30px;
		}
		display: flex;
		align-items: center;
		&.active {
			background: #242424;
			color: $accent;
			&::before {
				order: 1;
				@extend %ic, .icon-check-circle;
			}
		}
	}
}

.steps {
	color: #fff;
	padding: 70px 0;
	@media (min-width: $md3) {
		padding: 140px 0;
	}
	background: url("@img/russia.svg") center / cover no-repeat, #242424;
	// .steps__tagline
	&__tagline {
	}
	// .steps__title
	&__title {
	}
	&__body {
		margin-top: 40px;
	}
	// .steps__list
	&__list {
		& li {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&::before {
				@extend %ic, .icon-check-circle;
				width: 100%;
				display: flex;
				font-size: 22px;
				color: $accent;
				border-bottom: 1px solid #999;
				padding-bottom: 30px;
				@media (min-width: $md0) {
					padding-bottom: 50px;
				}
			}
			div {
				padding-right: 20px;
				margin-top: 30px;
				@media (min-width: $md0) {
					margin-top: 50px;
					padding-right: 90px;
				}
			}
		}
	}
	// .steps__bottom
	&__bottom {
		margin-top: 50px;
		gap: 40px;
	}
	// .steps__btn
	&__btn {
	}
	// .steps__bottom-desc
	&__bottom-desc {
	}
}

.materials {
	padding: 200px 0 100px;
	// .materials__caption
	&__caption {
		max-width: 477px;
	}
	// .materials__list
	&__list {
		margin-top: 50px;
		display: grid;
		grid-auto-rows: 1fr;
		gap: 20px;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md0) {
			max-width: 425px;
			grid-template-columns: 1fr;
		}
	}
	// .materials__item
	&__item {
		display: flex;
		align-items: center;
		gap: 30px;
		border-radius: 10px;
		padding: 9px 30px;
		&.active {
			border: 1px solid #f0a721;
			color: #f0a721;
		}
		counter-increment: num;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		border-radius: 10px;
		border: 1px solid #999;
		&::before {
			content: "0" counter(num);
			color: #999;
		}
	}
	// .materials__item-name
	&__item-name {
	}
	// .materials__item-image
	&__item-image {
		margin-left: auto;
	}
	// .materials__image
	&__image {
		position: relative;
	}
	// .materials__points
	&__points {
	}
	// .materials__point
	&__point {
		position: absolute;
		border-radius: 50%;
		display: flex;
		width: 60px;
		height: 60px;
		font-size: 16px;
		@media (min-width: $md2) {
			width: 80px;
			height: 80px;
			font-size: 20px;
		}
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		background: #242424;
		&.active {
			background: $accent;
		}
		&:nth-child(1) {
			bottom: 5%;
			left: 38%;
		}
		&:nth-child(2) {
			bottom: 30%;
			right: 15%;
		}
		&:nth-child(3) {
			top: 38%;
			left: 35%;
		}
		&:nth-child(4) {
			top: 21%;
			left: 30%;
		}
		&:nth-child(5) {
			top: 14%;
			left: 62%;
		}
	}
}

.faq {
	padding: 50px 0 100px;
	@media (min-width: $md3) {
		padding: 100px 0 200px;
	}
	// .faq__main
	&__main {
		gap: 32px;
	}
	// .faq__title
	&__title {
	}
	// .faq__btn
	&__btn {
		@media (min-width: $md2) {
			max-width: 360px;
		}
	}
	// .faq__list
	&__list {
	}
	// .faq__item
	&__item {
		gap: 25px;
		@media (min-width: $md4) {
			gap: 50px;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #dbdbdb;
			padding-bottom: 35px;
			margin-bottom: 35px;
			@media (min-width: $md2) {
				padding-bottom: 60px;
				margin-bottom: 55px;
			}
		}
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $accent;
			border-radius: 10px;
			width: 40px;
			height: 40px;
			@media (min-width: $md2) {
				width: 80px;
				height: 80px;
			}
			border: 1px solid $text;
			color: $accent;
			flex-shrink: 0;
		}
	}
	// .faq__question
	&__question {
	}
	// .faq__answer
	&__answer {
		margin-top: 16px;
		font-size: 18px;
		@media (min-width: $md5) {
			margin-top: 20px;
			font-size: 20px;
		}
		font-weight: 300;
		line-height: 100%;
	}
}

.visual {
	position: relative;
	background: $text;
	margin: 0 0 50px 0;
	@media (min-width: $md3) {
		margin: 0 0 100px 0;
	}
	// .visual__image
	&__image {
		& img {
			min-height: 940px;
		}
	}
	// .visual__body
	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 80px 0 50px;
		.container-xxl {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			min-height: 100%;
		}
	}
	&__text {
		color: #fff;
		max-width: 755px;
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
	}
	&__btn {
		&.btn {
			max-width: 605px;
		}
	}
	// .visual__info-actions
	&__info-actions {
	}
	// .visual__info-action
	&__info-action {
		position: absolute;
		z-index: 1;

		&.active {
			z-index: 2;
		}
		&:nth-child(1) {
			left: 51%;
			top: 52%;
		}
		&:nth-child(2) {
			left: 66.5%;
			top: 69%;
		}
		&:nth-child(3) {
			left: 25%;
			top: 65%;
		}
		&:nth-child(4) {
			left: 52%;
			top: 38%;
		}
		&:nth-child(5) {
			left: 41%;
			top: 80%;
		}
	}
	// .visual__info-list
	&__info-list {
		position: absolute;
		top: calc(100% - 30px);
		left: 0;
		width: 100%;
		background: #fff;
		font-size: 18px;
		border-radius: 0 0 30px 30px;
		padding: 40px 10px 15px;
		display: none;
	}
	&__info-item {
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .visual__info-btn
	&__info-btn {
		position: relative;
		z-index: 2;
		&.btn {
			font-size: 16px !important;
			justify-content: flex-start;
			.btn__icon {
				margin-left: auto;
			}
		}
		&.active {
			color: #fff;
			.btn__icon {
				&::after {
					transform: scale(15);
				}
			}
		}
		@media (min-width: $md2) {
			min-width: 340px;
		}
		& > img {
			margin: -15px 25px -15px -30px;
		}
	}
}
