.footer {
	background: #242424;
	color: #fff;
	padding: 80px 0 66px;
	// .footer__header
	&__header {
	}
	// .footer__logo
	&__logo {
	}
	// .footer__callback
	&__callback {
		&.btn.btn-secondary {
			&:hover {
				border-color: $yellow;
			}
		}
	}
	// .footer__menu
	&__menu {
		margin-top: 60px;
	}
	// .footer__menu-caption
	&__menu-caption {
		color: #999;
		font-size: 30px;
		font-weight: 300;
		line-height: 100%;
		&:not(:first-child) {
			margin-top: 70px;
		}
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 50px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
	// .footer__menu-item
	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease 0s;
	}
	// .footer__contacts
	&__contacts {
		margin-top: 80px;
		background: linear-gradient(0deg, rgba(#000, 0.3), rgba(#000, 0.3)), url("@img/footer-img.jpg") center / cover no-repeat;
		padding: 20px;
	}
	// .footer__contacts-block
	&__contacts-block {
	}
	// .footer__contacts-label
	&__contacts-label {
		color: #242424;
		font-size: 16px;
		background: #fff;
		padding: 20px;
	}
	// .footer__contacts-address
	&__contacts-address {
		margin-top: 125px;
		font-size: 24px;
		font-weight: 600;
		line-height: 100%;
	}
	// .footer__contacts-link
	&__contacts-link {
		margin-top: 20px;
		color: $accent;
		font-size: 24px;
		font-weight: 600;
		text-decoration-line: underline;
	}
	// .footer__contacts-socials
	&__contacts-socials {
		gap: 40px;
	}
	// .footer__contacts-social
	&__contacts-social {
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		&::before {
			margin-bottom: 26px;
			color: $accent;
			font-size: 30px;
		}
	}
	// .footer__bottom
	&__bottom {
		border-top: 1px solid #999;
		margin-top: 20px;
		padding-top: 62px;
	}
	// .footer__privacy
	&__privacy {
	}
	// .footer__prod
	&__prod {
	}
}
