.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6;
	padding: 16px 0;
	@media (min-width: $md0) {
		padding: 50px 0 30px;
	}
	// .header__body
	&__body {
		position: relative;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #dbdbdb;
		padding: 14px 20px;
		@media (min-width: $md-xxl) {
			padding: 14px 40px 14px 20px;
		}
		&.open-contacts {
			border-radius: 10px 10px 0 0;
		}
	}
	// .header__logo
	&__logo {
		background: #fff;
		align-self: stretch;
		display: flex;
		align-items: center;
		flex-shrink: 0;

		& img {
			max-width: 110px;
			@media (min-width: $md4) {
				max-width: 150px;
			}
			@media (min-width: $md0) {
				max-width: 216px;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__whatsapp
	&__whatsapp {
		margin-right: 20px;
		@media (min-width: $md-xxl) {
			margin-right: 40px;
		}
		border-radius: 3px;
		background: #dbdbdb;
		padding: 7px 12px;
		gap: 10px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -5px;
			right: -5px;
			width: 8px;
			height: 8px;
			border-radius: 5%;
			background: #4ad504;
			border-radius: 50%;
			box-shadow: 0 0 0 5px #fff;
		}
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #dbdbdb, $amount: 10);
				color: $text;
			}
		}
	}
	// .header__whatsapp-icon
	&__whatsapp-icon {
	}
	// .header__callback
	&__callback {
	}
	// .header__callback-btn
	&__callback-btn {
		border-left: 1px solid #dbdbdb;
		color: $accent;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		border-right: 1px solid #dbdbdb;
		padding: 10px 15px;
		gap: 24px;
		@media (min-width: $md2) {
			gap: 32px;
			padding: 10px 20px;
		}
		@media (min-width: $md0) {
			padding: 10px 30px;
			border-right: 0;
		}
		@media (min-width: $md-xxl) {
			gap: 128px;
		}
		&.active {
			color: #999;
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			order: 1;
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 10);
			}
		}
	}
	// .header__callback-list
	&__callback-body {
		@media (min-width: $md5) {
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 3px);
			background: #fff;
			border-radius: 0 0 10px 10px;
			padding: 27px 20px;
			border: 1px solid #dbdbdb;
			display: none;
		}
	}
	// .header__callback-content
	&__callback-content {
		gap: 10px;
	}
	// .header__callback-main
	&__callback-main {
	}
	// .header__callback-link
	&__callback-link {
		color: $accent;
		font-size: 24px;
		font-weight: 600;
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .header__callback-hint
	&__callback-hint {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
	// .header__callback-socials
	&__callback-socials {
		@media (min-width: $md5) {
			align-self: center;
		}
		gap: 20px;
	}
	// .header__callback-social
	&__callback-social {
		border-radius: 90px;
		border: 1px solid #999;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
		&::before {
			order: 1;
			color: $accent;
			font-size: 24px;
			@media (min-width: $md2) {
				font-size: 30px;
			}
		}
		gap: 20px;
		padding: 10px 20px;
		@media (min-width: $md2) {
			padding: 16px 30px;
		}
		@media (min-width: $md1) {
			padding: 20px 40px;
			gap: 40px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				border-color: $accent;
				color: #fff;
				&::before {
					color: #fff;
				}
			}
		}
	}
	// .header__callback-callback
	&__callback-callback {
	}
	// .header__contacts
	&__contacts {
		position: relative;
		margin-bottom: -16px;
		margin-top: -14px;
		align-self: flex-end;
		display: none;
		@media (min-width: $md0) {
			display: block;
		}
		&::before {
			content: "";
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			left: 0;
			width: 1px;
			height: 40px;
			border-left: 1px solid #dbdbdb;
		}
		&::after {
			content: "";
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			right: 0;
			width: 1px;
			height: 40px;
			border-right: 1px solid #dbdbdb;
		}
	}
	// .header__contacts-block
	&__contacts-block {
		&:not(:last-child) {
			margin-bottom: 8px;
			padding-bottom: 8px;
			border-bottom: 1px solid #dbdbdb;
		}
	}
	// .header__contacts-link
	&__contacts-link {
		transition: color 0.3s ease 0s;
		font-weight: 700;
		letter-spacing: 1.6px;

		text-transform: uppercase;
		padding-inline: 12px;
		@media (min-width: $md-xxl) {
			padding-inline: 30px;
		}
	}
	// .header__contacts-city
	&__contacts-city {
		transition: color 0.3s ease 0s;
		color: #999;
		padding-inline: 12px;
		@media (min-width: $md-xxl) {
			padding-inline: 27px;
		}
		padding-bottom: 12px;
		display: inline-block;
		&.current {
			color: $text;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: $accent;
			}
		}
	}
	// .header__actions
	&__actions {
		margin-left: 10px;
		gap: 10px;
		@media (min-width: $md2) {
			margin-left: 20px;
			gap: 16px;
		}
		@media (min-width: $md-xxl) {
			margin-left: 40px;
		}
	}
	// .header__action
	&__action {
		font-size: 18px;
		@media (min-width: $md2) {
			font-size: 22px;
		}
		transition: color 0.3s ease 0s;
		&.icon-favorite,
		&.icon-compare {
			position: relative;

			& span {
				width: 12px;
				height: 12px;
				font-size: 8px;
				top: -6px;
				right: -6px;
				@media (min-width: $md4) {
					width: 16px;
					height: 16px;
					font-size: 10px;
					top: -8px;
					right: -8px;
				}
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: $accent;
				color: $text;
				font-weight: 600;
				line-height: 100%;
				position: absolute;
				box-shadow: 0 0 0 2px #fff;
			}
		}
	}
	// .header__menu-btn
	&__menu-btn {
	}
}

.menu {
	@media (max-width: $md3) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: #000000, $alpha: 0.4);
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		.header.open-menu & {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (min-width: $md3) {
		flex: 1 1 auto;
		gap: 12px;
	}
	@media (min-width: $md0) {
		gap: 24px;
	}

	// .menu__content
	&__content {
	}
	// .menu__body
	&__body {
		@media (max-width: $md3) {
			background: #fff;
			margin-left: auto;
			height: 100%;
			padding: 120px 20px 40px 20px;
			transition: transform 0.3s ease 0s;
			transform: translateX(100%);
			overflow-y: auto;
			width: 320px;
			.header.open-menu & {
				transform: none;
			}
		}
	}
	// .menu__list
	&__list {
		position: relative;
		font-weight: 700;
		letter-spacing: 1.6px;
		gap: 24px;
		text-transform: uppercase;
		justify-content: center;
		@media (min-width: $md3) {
			gap: 16px;
		}
		@media (min-width: $md2) {
			gap: 20px;
		}

		@media (min-width: $md-xxl) {
			gap: 40px;
		}
	}
	// .menu__item
	&__item {
		&:hover {
			.menu__link {
				color: $accent;
			}
			.submenu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .menu__link
	&__link {
		border-radius: 30px;
		display: inline-block;

		text-align: center;
		position: relative;
		z-index: 2;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $accent;
		}
	}
	// .menu__actions
	&__actions {
		@media (min-width: $md2) {
			background: #fff;
			gap: 14px;
			padding: 7px 16px;
		}
		@media (min-width: $md-xxl) {
			padding: 7px 16px 7px 32px;
			gap: 28px;
		}
	}
	// .menu__main
	&__main {
	}
	// .menu__phone
	&__phone {
		font-size: 22px;
		@media (min-width: $md3) {
			font-size: 15px;
			display: none;
		}
		@media (min-width: $md0) {
			font-size: 16px;
			display: inline-block;
		}
		@media (min-width: $md-xxl) {
			font-size: 18px;
		}
		border-radius: 30px;
		&:hover {
			padding: 12px 18px;
			margin: -12px -18px;
			@media (min-width: $md-xxl) {
				padding: 15px 24px;
				margin: -15px -24px;
			}
			background: $accent;
			color: #fff;
		}
	}
	// .menu__socials
	&__socials {
	}
	// .menu__callback
	&__callback {
	}
}

.submenu {
	@media (max-width: $md3) {
		margin-top: 16px;
		padding-left: 12px;
		font-size: 16px;
		display: none;
		&.active {
			display: block;
		}
	}
	@media (min-width: $md3) {
		position: absolute;
		z-index: 1;
		top: calc(100% - 8px);
		left: -20px;
		right: -20px;
		width: calc(100% + 40px);
		padding: 40px 20px 18px;
		border-radius: 0 0 30px 30px;
		background: #fff;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	}
	@media (min-width: $md0) {
		padding: 40px 40px 24px;
	}
	@media (min-width: $md-xxl) {
		left: -40px;
		right: -40px;
		width: calc(100% + 80px);
	}
	// .submenu__list
	&__list {
		display: flex;
		flex-direction: column;
		&:first-child:last-child {
			grid-column: span 2;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			gap: 8px;
		}
	}
	// .submenu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .submenu__link
	&__link {
		@media (min-width: $md-xxl) {
			font-size: 18px;
		}
		border-radius: 20px;
		&:hover {
			padding: 5px 9px;
			margin: -5px -9px;
			background: $accent;
			color: #fff;
		}
	}
	// .submenu__images
	&__images {
	}
	// .submenu__image
	&__image {
		display: none;
		&.active {
			display: block;
			animation: fadeIn 0.3s;
		}
		height: 174px;
		& img {
			border-radius: 10px;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;

	padding: 0;
	background: $accent;
	color: #fff;
	z-index: 11;
	height: 41px;
	width: 41px;

	border-radius: 50%;

	@media (min-width: $md3) {
		display: none;
	}
	@media (min-width: $md2) {
		width: 60px;
		height: 60px;
	}
	& span {
		display: block;
		padding: 2.5px 4px;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		pointer-events: none;
		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 20px;
			@media (min-width: $md2) {
				width: 36px;
			}
			pointer-events: none;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(6px);
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-6px);
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
